.category {
  height: 350px;
  width: 350px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0 10px;
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
.category h2,
.category p {
  padding: 5px;
  margin-left: 15px;
  /* color: rgb(9, 132, 209); */
  color: rgb(35, 35, 35);
  font-family: Arial, Helvetica, sans-serif;
}

.category__container{
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

