.category {
  height: 350px;
  width: 350px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Space inside the card */
  margin: 10px; /* Adds spacing outside each card */
}

.category img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0 10px;
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
.category h2,
.category p {
  padding: 5px;
  margin-left: 15px;
  /* color: rgb(9, 132, 209); */
  color: rgb(35, 35, 35);
  font-family: Arial, Helvetica, sans-serif;
}

.category__container {
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

@media (max-width: 1024px) {
  .category__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .category__container .category:nth-child(4) {
    display: none;
  }
}


@media (max-width: 768px) {
  .category__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .category__container .category:nth-child(4) {
    display: block;
  }
}


@media (max-width: 480px) {
  .category__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
